<header>
    <h1>
        {{screamIt title}}
    </h1>
    <h2>
        {{message}}
    </h2>

    <a href="/">
        <p>Home</p>
    </a>

    <a href="/ffv">
        <p>FFV</p>
    </a>

    <a href="/projects">
        <p>Projects</p>
    </a>
</header>