<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Please Wait!</title>
</head>

<body>
    <h1>This website is currently in maintence.</h1>
    <h1>Sorry for your inconvenience.</h1>
</body>

</html>